# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=0000
DB_NAME=marketplace

# MongoDB
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=marketplace

# App
APP_HOST=0.0.0.0
APP_PORT=5000
APP_DEBUG=false
LOG_LEVEL=INFO
